<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/main.css">
</head>
<body>
<!-- ルートのテンプレート -->
    <div id="app">
        <h2>Todo List</h2>
        <form v-on:submit.prevent>
            <input type="text" placeholder="Todoを入力!"
                    v-model="newItem">
            <button v-on:click="addItem">Add</button>
            <ul>
                <li v-for="todo in todos">{{ todo.item }}</li>
            </ul>
            <!-- エラーハンドリング用 -->
            <pre>{{ $data }}</pre>
        </form>

        <!-- <p>
            {{ message }}
        </p>
        <p>{{count}}</p>
        <p>{{user.lastName}}</p>
        <p>{{colors[2]}}</p>
        <input type="text" v-bind:value="message"> -->
        <!-- <p v-if="toggle">表示:)</p> -->
        <!-- <ol>
            <li v-for="color in colors">{{ color }}</li>
        </ol> -->
        <!-- <button v-on:click="onClick">表示</button>
        <p>{{ now }}</p> -->
        <!-- <p><input type="text" v-model="message"></p>
        <p><input type="text" v-model="message"></p>
        <pre>{{ $data }}</pre> -->
        <!-- <piyopiyo-component></piyopiyo-component>
        <piyopiyo-component></piyopiyo-component> -->
    </div>
    <script src="https://unpkg.com/vue@3.1.5"></script>
    <script src="js/main.js"></script>
</body>
</html>